  <div class="container">
    <div class='col-sm-offset-2 col-sm-8'>
      
      <div class='panel panel-primary'>
        <div class='panel-heading'>List of Canadian provinces by population</div>
        <div class="panel-body">

          <div class='row' style="margin-bottom: 20px">
            <div class='col-md-8' style="margin-bottom: 20px">
                <span class="margin-right-4">Search:</span>
                <span>
                  <input type='text' [(ngModel)]='listFilter'/>
                </span>
            </div>
          </div>

          <div class='row'>
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                  <tr>
                    <th class="pointer" (click)="sort('provinceName')">Name
                      <i class="glyphicon" [ngClass]="{ 'glyphicon-menu-up': (column == 'provinceName' && !isDesc), 
                                                        'glyphicon-menu-down': (column == 'provinceName' && isDesc) }" aria-hidden="true">
                      </i>
                    </th>
                    <th class="pointer" (click)="sort('provinceCode')">Code
                      <i class="glyphicon" [ngClass]="{ 'glyphicon-menu-up': (column == 'provinceCode' && !isDesc), 
                                                        'glyphicon-menu-down': (column == 'provinceCode' && isDesc) }" aria-hidden="true">
                      </i>
                    </th>
                    <th class="pointer" (click)="sort('provincePopulation')">Population
                      <i class="glyphicon" [ngClass]="{ 'glyphicon-menu-up': (column == 'provincePopulation' && !isDesc), 
                                                        'glyphicon-menu-down': (column == 'provincePopulation' && isDesc) }" aria-hidden="true">
                      </i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let province of provinces | provinceFilter:listFilter | provinceSort: {property: column, direction: direction}" 
                      [routerLink]="['/province', province.provinceCode]">
                    <td class="pointer">{{ province.provinceName }}</td>
                    <td class="pointer">{{ province.provinceCode }}<i class="fa fa-sort fa-sort-asc"></i></td>
                    <td class="pointer">{{ province.provincePopulation }}</td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class='panel-footer'>
          <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h6>Filtered by: {{listFilter}} </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>